.group.group-xs.group-middle
	a.icon.icon-sm.icon-creative.mdi.mdi-facebook.primary( href='#' )
	a.icon.icon-sm.icon-creative.mdi.mdi-twitter.primary( href='#' )
	a.icon.icon-sm.icon-creative.mdi.mdi-instagram.primary( href='#' )
	a.icon.icon-sm.icon-creative.mdi.mdi-google.primary( href='#' )
	a.icon.icon-sm.icon-creative.mdi.mdi-linkedin.primary( href='#' )
