.row.row-30
	.col-sm-6.col-lg-4.wow-outer
		// Box Creative
		article.box-creative.wow.slideInDown
			.box-creative-icon.linearicons-highlight
			h4.box-creative-title: a( href= links.service ) Wood Engraving
			p At Graver, your wood engraving experience is our number one priority. We have laser engraved wood art for every occasion. If you can dream it, we can design it!

	.col-sm-6.col-lg-4.wow-outer
		// Box Creative
		article.box-creative.wow.slideInDown( data-wow-delay='.05s' )
			.box-creative-icon.linearicons-flare
			h4.box-creative-title: a( href= links.service ) Metal Engraving
			p We can laser engrave a range of metals, most of these we have in stock and some are special order. If you cant find the specific material you require, let us know!

	.col-sm-6.col-lg-4.wow-outer
		// Box Creative
		article.box-creative.wow.slideInDown( data-wow-delay='.1s' )
			.box-creative-icon.linearicons-pen3
			h4.box-creative-title: a( href= links.service ) Design Services
			p If you’d like to have a custom image or text engraved, our team of designers and engravers will be glad to help you! Feel free to contact us to discuss your idea in details.
