.row.row-30
	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight
			h5.pricing-minimal-title: a( href= links.service ) Basic
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 49.00
			.pricing-minimal-divider
			p Pol, germanus extum! Cum zeta prarere, omnes bullaes demitto regius, domesticus zeluses. Dexter, placidus sagas satis quaestio de salvus, audax scutum.
			a.button.button-primary.button-winona( href= links.service ) Order Now

	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight( data-wow-delay='.05s' )
			h5.pricing-minimal-title: a( href= links.service ) Standard
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 67.00
			.pricing-minimal-divider
			p Fortis fidess ducunt ad epos. Accelerare semper ducunt ad mirabilis planeta. Cum buxum ire, omnes armariumes tractare fortis, salvus amicitiaes.
			a.button.button-primary.button-winona( href= links.service ) Order Now

	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight( data-wow-delay='.1s' )
			h5.pricing-minimal-title: a( href= links.service ) Gold
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 86.00
			.pricing-minimal-divider
			p Cum detrius unda, omnes parmaes pugna velox, emeritis capioes. Heu, nuclear vexatum iacere! Cum abnoba persuadere, omnes eleateses tractare noster, audax elevatuses.
			a.button.button-primary.button-winona( href= links.service ) Order Now
