.row.row-50
	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft
			a.post-classic-media( href= "#" )
				+img( 'sidebar-blog-1-370x264' )
			ul.post-classic-meta
				li: a.button-winona( href='#' ) News
				li: time( datetime='2019' ) Apr 21, 2019 at 12:05 pm

			h4.post-classic-title: a( href= "#" ) What To Ask Your Engraving Company

	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft( data-wow-delay='.05s' )
			a.post-classic-media( href= "#" )
				+img( 'sidebar-blog-2-370x264' )
			ul.post-classic-meta
				li: a.button-winona( href='#' ) Advertising
				li: time( datetime='2019' ) Apr 21, 2019 at 12:05 pm

			h4.post-classic-title: a( href= "#" ) Laser Engraving Mistakes We Always Try to Avoid

	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft( data-wow-delay='.1s' )
			a.post-classic-media( href= "#" )
				+img( 'sidebar-blog-3-370x264' )
			ul.post-classic-meta
				li: a.button-winona( href='#' ) Tips
				li: time( datetime='2019' ) Apr 21, 2019 at 12:05 pm

			h4.post-classic-title: a( href= "#" ) How Engraved Signs Help Our Customers
			
.wow-outer.button-outer
	a.button.button-lg.button-primary-outline.button-winona.wow.slideInUp( href= links.blog ) View our Blog
