mixin footer-advanced( obj )
	footer.section.footer-advanced.bg-gray-700
		.footer-advanced-main
			.container
				.row.row-50
					.col-lg-4
						h4 About Us
						p.footer-advanced-text= obj.about
	
					.col-sm-6.col-lg-4
						h4 Recent Blog Posts
						// Post Inline
						article.post-inline
							p.post-inline-title: a( href= links.post )= obj.posts[0]
							ul.post-inline-meta
								li by Theresa Barnes
								li: a( href= links.post ) 2 days ago
	
						// Post Inline
						article.post-inline
							p.post-inline-title: a( href= links.post )= obj.posts[1]
							ul.post-inline-meta  
								li by Theresa Barnes
								li: a( href= links.post ) 2 days ago
	
					.col-sm-6.col-lg-4.block-1
						h4 Our Projects
						.row.row-x-10( data-lightgallery='group' )
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal( href='images/gallery-original-3.jpg', data-lightgallery='item' )
									+img( 'footer-gallery-1-85x85' ).thumbnail-minimal-image
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal( href='images/gallery-original-1.jpg', data-lightgallery='item' )
									+img( 'footer-gallery-2-85x85' ).thumbnail-minimal-image
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal( href='images/gallery-original-10.jpg', data-lightgallery='item' )
									+img( 'footer-gallery-3-85x85' ).thumbnail-minimal-image
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal( href='images/gallery-original-4.jpg', data-lightgallery='item' )
									+img( 'footer-gallery-4-85x85' ).thumbnail-minimal-image
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal( href='images/gallery-original-7.jpg', data-lightgallery='item' )
									+img( 'footer-gallery-5-85x85' ).thumbnail-minimal-image
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal( href='images/gallery-original-11.jpg', data-lightgallery='item' )
									+img( 'footer-gallery-6-85x85' ).thumbnail-minimal-image
									.thumbnail-minimal-caption 
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal( href='images/gallery-original-5.jpg', data-lightgallery='item' )
									+img( 'footer-gallery-7-85x85' ).thumbnail-minimal-image
									.thumbnail-minimal-caption
							.col-3.col-sm-4.col-md-3
								a.thumbnail-minimal( href='images/gallery-original-6.jpg', data-lightgallery='item' )
									+img( 'footer-gallery-8-85x85' ).thumbnail-minimal-image
									.thumbnail-minimal-caption
	
		.footer-advanced-aside
			.container
				.footer-advanced-layout
					div: ul.list-nav 
						li: a( href= links.index ) Home
						li: a( href= links.about ) About
						li: a( href='services.html' ) Services
						li: a( href='grid-gallery.html' ) Gallery
						li: a( href= links.blog ) Blog
						li: a( href='contacts.html' ) Contacts
	
					div: ul.list-inline.list-inline-md
						li: a.icon.icon-sm.link-default.mdi.mdi-facebook( href='#' )
						li: a.icon.icon-sm.link-default.mdi.mdi-twitter( href='#' )
						li: a.icon.icon-sm.link-default.mdi.mdi-instagram( href='#' )
						li: a.icon.icon-sm.link-default.mdi.mdi-google( href='#' )
						li: a.icon.icon-sm.link-default.mdi.mdi-linkedin( href='#' )
	
		.container: hr
	
		.footer-advanced-aside
			.container
				.footer-advanced-layout
					a.brand( href= links.index )
						+img( logo.light, { retina: true } )
					+rights
