footer.section.footer-linked.bg-gray-700
	.footer-linked-main
		.container
			.row.row-50
				.col-lg-8
					h4 Quick Links
					hr.offset-right-1
					.row.row-20
						.col-6.col-sm-3
							ul.list.list-xs
								li: a( href='services.html' ) Services
								li: a( href= links.service ) Single Service
								li: a( href='contacts.html' ) Contacts
								li: a( href='testimonials.html' ) Testimonials
								li: a( href='privacy-policy.html' ) Terms of Use

						.col-6.col-sm-3
							ul.list.list-xs
								li: a( href= links.blog ) Blog
								li: a( href= links.about ) About Us
								li: a( href='about-me.html' ) About Me
								li: a( href= links.project ) Single Project
								li: a( href='single-job.html' ) Single Job

						.col-6.col-sm-3
							ul.list.list-xs
								li: a( href='careers.html' ) Careers
								li: a( href='grid-gallery.html' ) Portfolio
								li: a( href= links.project ) Single Project
								li: a( href='#' ) Our History
								li: a( href='single-job.html' ) Single Job

						.col-6.col-sm-3
							ul.list.list-xs
								li: a( href='#' ) Facebook
								li: a( href='#' ) Twitter
								li: a( href='#' ) Instagram
								li: a( href='#' ) LinkedIn
								li: a( href='#' ) Pinterest


				.col-md-7.col-lg-4
					h4 Contact Information
					hr
					ul.list-sm
						li.object-inline
							span.icon.icon-md.mdi.mdi-map-marker.text-gray-700
							a.link-default( href='#' ) 2130 Fulton Street San Diego, CA #[br] 94117-1080 USA

						li.object-inline
							span.icon.icon-md.mdi.mdi-phone.text-gray-700
							ul.list-0
								li: a.link-default( href='tel:#' ) 1-800-1234-678
								li: a.link-default( href='tel:#' ) 1-800-8765-098

						li.object-inline
							span.icon.icon-md.mdi.mdi-email.text-gray-700
							a.link-default( href='mailto:#' ) info@demolink.org

	.footer-linked-aside
		.container
			+rights
