section.section.section-lg.text-center.bg-default
	.container
		h3.wow-outer: span.wow.slideInUp Our Team
		.row.row-50.row-xxl-70.justify-content-center.justify-content-lg-start
			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft
					figure.profile-creative-figure
						+img( 'team-1-270x273' ).profile-creative-image
					.profile-creative-main
						h5.profile-creative-title: a( href='#' ) Jean Thompson
						p.profile-creative-position Engraver
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a( href='tel:#' ) 1-800-1324-567
						p Ferox historia superbe apertos canis est. Gabaliums sunt magisters de rusticus absolutio. Contencio, canis, et cotta. Cum solem messis, omnes victrixes visum fidelis, bi-color cobaltumes.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft( data-wow-delay='.2s' )
					figure.profile-creative-figure
						+img( 'team-2-270x273' ).profile-creative-image
					.profile-creative-main
						h5.profile-creative-title: a( href='#' ) John Doe
						p.profile-creative-position Certified Engraver, Founder
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a( href='tel:#' ) 1-800-1324-567
						p Monss sunt nomens de bassus accola. Cur deus credere? Solitudos ridetis in rusticus quadrata! Brevis, grandis resistentias satis aperto de lotus, gratis equiso.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft
					figure.profile-creative-figure
						+img( 'team-3-270x273' ).profile-creative-image
					.profile-creative-main
						h5.profile-creative-title: a( href='#' ) Nathan Porter
						p.profile-creative-position Wood Engraver
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a( href='tel:#' ) 1-800-1324-567
						p Est grandis triticum, cesaris. Hercle, lamia albus!, rumor! Ubi est rusticus consilium? Peritus, albus finiss aegre manifestum de alter, brevis planeta.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft( data-wow-delay='.2s' )
					figure.profile-creative-figure
						+img( 'team-4-270x273' ).profile-creative-image
					.profile-creative-main
						h5.profile-creative-title: a( href='#' ) Scott Jenkins
						p.profile-creative-position Metal Engraver
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a( href='tel:#' ) 1-800-1324-567
						p Sunt hydraes pugna velox, talis cannabises. A falsis, resistentia domesticus luba. Cum danista favere, omnes parmaes resuscitabo flavum, albus zeluses.

		.wow-outer.button-outer
			a.button.button-lg.button-primary.button-winona.wow.slideInUp( href='#' ) View all Team
