// Overview
section.section.section-lg
	.container
		.row.row-50.justify-content-center.justify-content-lg-between
			.col-md-10.col-lg-6
				h3 Overview
				h4.offset-top-3 Lura de alter capio, tractare urbs! Sunt magisteres gratia neuter, salvus assimilatioes.
				p Est domesticus acipenser, cesaris. Vae. Mensas manducare! Gratis, flavum pess aegre convertam de talis, audax tumultumque. A falsis, torus placidus detrius. Vae, mens! Ubi est emeritis luna? Cum nuptia favere, omnes frondatores tractare ferox, clemens hydraes.
				.group.group-middle
					a.button.button-primary.button-winona( href='#our-history', data-waypoint-to='#our-history' ) View our History
					a.button.button-primary-outline.button-winona( href='careers.html' ) Join our Team

			.col-md-10.col-lg-6.col-xl-5 
				+img( 'large-features-1-470x334' ).img-responsive
