section.section.section-overlap.bg-gray-100
	.section-overlap-image( style='background-image: url(images/screens-1-1046x720.jpg)' )
	.section-overlap-content
		.container: .row
			.col-md-6.col-lg-5.col-xl-4
				.wow-outer: h6.wow.slideInDown Welcome to our agency
			.col-md-8.col-lg-7
				h1.wow-outer
					span.font-weight-light.wow-outer: span.wow.slideInUp You Always Get Back
					span.font-weight-bold.wow-outer: span.wow.slideInUp( data-wow-delay='.1s' ) to CaseCraft
			.col-md-6.col-lg-5.col-xl-4.col-offset-1
				.wow-outer: p.wow.slideInUp( data-wow-delay='.2s' ) Since 2005, we’ve been building, reviving and growing brands in the US and beyond through telling their stories, solving their problems, creating connections with their customers.
				.wow-outer.button-outer: a.button.button-lg.button-primary.button-winona.wow.slideInUp( href= links.about, data-wow-delay='.3s' ) Learn More
