+parallax({
	img: 'parallax-2'
}).jumbotron-classic.bg-gray-700
	.container
		.jumbotron-classic-content
			.wow-outer: h6.title-decorated.wow.slideInLeft Fast help for your customers
			h1.font-weight-bold.wow-outer: span.wow.slideInDown( data-wow-delay='.2s' ) 24/7 Call Center
			p.big.wow-outer: span.wow.slideInDown( data-wow-delay='.35s' ) We provide high-quality customer support designed to help your clients 24/7 even in the most intricate situations.
			.wow-outer.button-outer
				a.button.button-lg.button-primary.button-winona.wow.slideInDown( href='services.html', data-wow-delay='.4s' ) View all Services
