section.section.section-sm.text-center.bg-gray-100
	.container
		.box-cta-1
			h3.wow-outer: span.font-weight-bold.wow.slideInRight We #[span.text-italic.font-weight-regular Offer] Quality Services
			.wow-outer.button-outer
				a.button.button-primary-outline.button-lg.wow.slideInLeft( href='#contact-us',data-waypoint-to='#contact-us' ) contact us
