include ../components/_progress-bar-linear
	
section.section.bg-gray-100
	.range.justify-content-xl-between
		.cell-lg-6.cell-xl-5.align-self-center.container
			.row
				.col-md-10.cell-inner: .section-lg.inset-right-2
					h3.wow-outer: span.wow.slideInDown A Few Words About Us
					p.wow.fadeIn Heu, sensorem! Pius abnobas ducunt ad vortex. Est fidelis adgium, cesaris. Lapsus cantares, tanquam magnum ausus. A falsis, amicitia emeritis extum. Hibridas nocere, tanquam neuter coordinatae. Cum frondator studere, omnes onuses quaestio placidus, domesticus rectores.
					
					.progress-linear-outer.wow-outer
						+progress-bar-linear({
							title: 'Dedication',
							valueTo: '90'
						}).wow.slideInDown( data-wow-delay='.05s' )
						
					.progress-linear-outer.wow-outer
						+progress-bar-linear({
							title: 'Knowledge',
							valueTo: '65'
						}).wow.slideInDown( data-wow-delay='.1s' )
						
					.progress-linear-outer.wow-outer
						+progress-bar-linear({
							title: 'Experience',
							valueTo: '100'
						}).wow.slideInDown( data-wow-delay='.15s' )
					
					.progress-linear-outer.wow-outer
						+progress-bar-linear({
							title: 'Reliability',
							valueTo: '75'
						}).wow.slideInDown( data-wow-delay='.2s' )

					.wow-outer.button-outer
						a.button.button-primary.button-winona.wow.slideInUp( href= links.about ) Learn more

		.cell-lg-6.height-fill
			.figure-card
				.figure-card-sizer
				+img( 'large-features-4-1214x792' )
