include ../components/_career-classic

section.section.section-lg.bg-gray-100.text-center
	.container
		h3.wow-outer: span.wow.slideInDown Careers
		.row.row-50
			.col-md-6.col-lg-4.wow-outer
				+career-classic({
					title: 'Engraver',
					list: [
						{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
						{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
					]
				}).wow.slideInRight
					p Sunt fortises carpseris lotus, domesticus hibridaes. Sunt ususes promissio velox, salvus humani generises. Byssuss mori, tanquam mirabilis cannabis. Albus, festus nixuss aegre tractare de brevis, fatalis indictio.

			.col-md-6.col-lg-4.wow-outer
				+career-classic({
					title: 'Laser Engraving Technician',
					list: [
						{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
						{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
					] 
				}).wow.slideInRight( data-wow-delay='.05s' )
					p Magisters ortum in neuter piscinam! Nunquam imperium urbs. Cur lura ire? Vae, bassus elevatus! Altus, rusticus demissios nunquam perdere de bassus, fidelis burgus.

			.col-md-6.col-lg-4.wow-outer
				+career-classic({
					title: 'Wood Engraver',
					list: [
						{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
						{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
					]
				}).wow.slideInRight( data-wow-delay='.1s' )
					p Tumultumques manducare, tanquam fidelis compater. Est albus compater, cesaris. Particulas volare, tanquam alter devirginato. Velox, camerarius humani generiss tandem convertam de fatalis, fortis mortem.
		.wow-outer.button-outer
			a.button.button-lg.button-primary.button-winona.wow.slideInUp( href='careers.html' ) Join Us
