section.section.section-halfscreen: .section-halfscreen-inner
	.section-halfscreen-image.wow.fadeIn( style='background-image: url(images/screens-2-960x680.jpg);' )
	.container: .row
		.col-md-6.col-lg-5
			.section-halfscreen-content
				.wow-outer.divider-small-outer: .divider-small.wow.fadeInLeft
				.wow-outer.heading-3
					h3.wow.fadeInUp( data-wow-delay='.2s' )
						span.font-weight-light Marketing &
						br
						span.font-weight-bold Public Relations

				.wow-outer.p
					p.wow.fadeInDown( data-wow-delay='.2s' ) We deliver high impact Public Relations, search and social campaigns for technology, telecoms and high growth companies. Our solutions work and bring amazing results.
				a.button.button-primary.button-winona.wow.fadeIn( href='#' ) Site analysis
