section.section.section-lg
	.container
		.row.row-50.justify-content-center.justify-content-lg-between.flex-lg-row-reverse
			.col-lg-6.col-xl-5: .inset-right-3
				h3.wow-outer: span.wow.slideInDown A Few Words About Us
				p.wow-outer: span.wow.slideInDown( data-wow-delay='.05s' ) Tabes dexter solitudo est. Cursus de teres armarium, demitto luna! Camerarius, ferox silvas superbe experientia de altus, gratis advena.
				p.wow-outer: span.wow.slideInDown( data-wow-delay='.1s' ) Calceus superbus gallus est. Cum apolloniates messis, omnes toruses visum azureus, peritus verpaes. Vae, clinias! Fluctuis peregrinatione in pius caelos! Cum hippotoxota unda, omnes adgiumes amor bassus, raptus byssuses.
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow.slideInDown( data-wow-delay='.1s', href= links.about ) Learn more
					
			.col-lg-6
				.d3-chart-wrap.wow.fadeIn: #line-chart.d3-chart
