section.section.section-xl.bg-gray-700.bg-image.context-light.overlay-dark( style='background-image: url(images/call-to-action-2-1920x584.jpg);' )
	.container
		.row.justify-content-sm-end
			.col-sm-9.col-md-7.col-lg-6
				.box-2
					.wow-outer: .wow.slideInUp
						h4 Over 20 Years of Experience in
						h3.font-weight-bold Laser Engraving

						.wow-outer.offset-top-4: .wow.slideInDown
							p Sunt fluctuies consumere rusticus, teres eposes. Eheu, fluctui! Festus torquis foris locuss racana est. Velox, albus tatas aegre prensionem de grandis, peritus extum.
							a.button.button-primary.button-winona( href='#' ) Make an Appointment
