section.section.section-lg
	.container
		.row.row-50.justify-content-center.justify-content-lg-between.flex-lg-row-reverse
			.col-md-10.col-lg-6.col-xl-5
				h3.wow-outer: span.wow.slideInDown A Few Words About Us
				p.wow-outer: span.wow.slideInDown( data-wow-delay='.05s' ) Caesiums studere in tectum! Epos varius calcaria est. Heu. Lunas credere, tanquam superbus era. Sunt assimilatioes magicae neuter, nobilis burguses. Nuclear vexatum iaceres sunt particulas de audax scutum. Orgia placidus assimilatio est.
				p.wow-outer: span.wow.slideInDown( data-wow-delay='.1s' ) Bulla teres finis est. Nunquam promissio lactea. Vitas credere in infernum! Pol, a bene elogium, species! Fortiss studere in vasa! Cur danista cantare? Nobilis, magnum magisters hic locus de grandis, castus secula.
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow.slideInDown( data-wow-delay='.1s', href= links.about ) Learn more
				
			.col-md-10.col-lg-6.wow-outer
				+img( 'large-features-3-570x368' ).img-responsive.wow.slideInLeft
