section.section.section-lg.bg-gray-700#our-history
	.container
		// Timeline Classic
		article.timeline-classic
			.timeline-classic-item
				.timeline-classic-item-aside
					+img( 'timeline-1-390x250' ).timeline-classic-item-image
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title December 1995
					p.thumbnail-classic-item-subtitle Cum animalis ridetis, omnes omniaes prensionem dexter, domesticus racanaes.
					p Cur finis peregrinationes? Classiss favere! Pius index mechanice dignuss adelphis est. Bursas sunt frondators de camerarius saga. Est germanus idoleum, cesaris. Ecce, clemens repressor! Tolerare vix ducunt ad fortis lumen. Mori etiam ducunt ad talis visus.

			.timeline-classic-item
				.timeline-classic-item-aside
					+img( 'timeline-2-390x250' ).timeline-classic-item-image
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title March 2004
					p.thumbnail-classic-item-subtitle Eheu. Ionicis tormento, axona, et hibrida. Bullas sunt eras de secundus calcaria.
					p Genetrixs congregabo in lentia! Tolerare virtualiter ducunt ad neuter messor. Brevis voxs ducunt ad fiscina. Albus eleatess ducunt ad abactor. Agripeta barbatus aonides est. Gratis fluctuss ducunt ad xiphias. A falsis, devirginato noster amor. Teres, festus lunas sapienter vitare de raptus, altus bulla.

			.timeline-classic-item
				.timeline-classic-item-aside
					+img( 'timeline-3-390x250' ).timeline-classic-item-image
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title April 2010
					p.thumbnail-classic-item-subtitle Nunquam fallere olla. Cum buxum cantare, omnes lapsuses fallere varius, magnum ollaes.
					p Nutrixs messis! Est varius mineralis, cesaris. Mirabilis cedrium hic anhelares barcas est. Nunquam transferre boreas. Heu, finis! Experimentum sapienter ducunt ad azureus contencio. A falsis, canis festus amicitia. Fortiss tolerare in altus cirpi! Talis, neuter clabulares cito tractare de clemens, barbatus fluctui.

			.timeline-classic-item
				.timeline-classic-item-aside
					+img( 'timeline-4-390x250' ).timeline-classic-item-image
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title May 2019
					p.thumbnail-classic-item-subtitle Cur deus peregrinationes? Barbatus, talis humani generiss absolute pugna de raptus, velox compater.
					p Est lotus devirginato, cesaris. Pol, a bene abnoba, xiphias! Eheu, era! Nobilis boreas patienter imperiums aonides est. Pol, a bene axona, mons! Ubi est brevis omnia? Talis accentors ducunt ad humani generis. Hydra azureus valebat est. Castus, regius monss patienter captis de emeritis, brevis armarium.
