section.section.section-lg.bg-gray-100
	.container
		.row.row-50.justify-content-center.justify-content-lg-between
			.col-md-10.col-lg-6.col-xl-5
				h3.wow-outer: span.wow.slideInDown A Few Words About Us
				p.wow-outer: span.wow.slideInDown( data-wow-delay='.05s' ) Speciess cantare, tanquam nobilis resistentia. Cum hilotae nocere, omnes dominaes quaestio peritus, nobilis fluctuies. Apolloniatess ridetis! Mensa flavum victrix est. Mirabilis, neuter capios absolute imperium de lotus, superbus nixus.
				p.wow-outer: span.wow.slideInDown( data-wow-delay='.1s' ) Turpiss ire in varius vasa! Vae. Albus, bassus exemplars diligenter captis de placidus, fidelis vigil. Salvus pes grauiter imperiums fides est. Lactas cadunt, tanquam teres abaculus. Cum amor cadunt, omnes lacteaes desiderium ferox, festus historiaes.
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow.slideInDown( data-wow-delay='.1s', href= links.about ) Learn more

			.col-md-10.col-lg-6.wow-outer
				+img( 'large-features-2-570x368' ).img-responsive.wow.slideInRight
