-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Poppins:400,500,600%7CPlayfair+Display:400,400i,700",
		navbarCounter = 0,
		logo = {
			name: 'ArtPlace',
			default: 'logo-default-292x64.png',
			inverse: 'logo-inverse-292x64.png',
			light: 'logo-lite-212x48.png'
		},
		links = {
			index: 'index.html'
		},
		colors = {
			primary: '#d73632'
		},
		menu = [
			{
				title: 'Home',
				link: '#home'
			},
			{
				title: 'Gallery',
				link: '#gallery'
			},
			{
				title: 'Team',
				link: '#team'
			},
			{
				title: 'Testimonials',
				link: '#testimonials'
			},
			{
				title: 'contacts',
				link: '#contact-us'
			}
		],


		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
